#wrapper {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg,rgb(60, 137, 125) 23%, rgb(210,214,210)23%);
}
.contact_section {
    height: calc(100vh - 3rem);
    background-color: white;
}
.chat_section {
    border-left: 1px solid lightgray;
    height: calc(100vh - 3rem);
    background-image: url(../img/mine.jpg);
}
.contact_header, .chat_header {
    width: 100%;
    height: 60px;
    background-color: rgb(231, 231, 231);
    padding: 0;
}
.proPic {
    width: 60px;
    border-radius: 50%;
    padding: 5px;
}
.user_name {
    font-size: 1rem;
}
.header_icons i {
    color: gray;
    font-size: 1.3rem;
}
.header_icons i:hover {
    cursor: pointer;
    opacity: 0.8;
}
.last_access, .last_message {
    color: gray;
    font-size: .8rem;
}
.notifiche_desktop {
    width: 100%;
    height: 70px;
    background-color: #96d2ee ;
    display: flex;
    align-items: center;
}
.notifiche_desktop span {
    color: gray;
    font-size: 0.8rem;
    text-decoration: underline;
}
.notifiche_desktop span:hover {
    cursor: pointer;
    color: blue;
}
.bell_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    color: #96d2ee;
    font-size: 1.2rem;
}
.input_container {
    background-color: rgb(231, 231, 231);
    padding: 0.4rem;
} 
main.contacts_section {
    width: 100%;
    height: calc(100vh - 184px - 3rem);
    overflow-y: auto;
} 
ul {
    list-style: none;
    padding-left: 0rem;
}
.contact_item:hover:not(.active_chat) {
    background-color: rgb(231, 231, 231);
}
.chat_main_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 130px - 3rem);
    padding-top: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    overflow-y: auto;
}
.chat_footer {
    height: 70px;
    width: 100%;
    background-color: rgb(240, 236, 231);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
    color: gray;
}
.chat_footer span:hover {
    cursor: pointer;
    opacity: 0.8;
}
.chat_footer input {
    width: 80%;
    height: 50px;
    font-size: 1rem;
}
.send_msg_icon {
    color: dodgerblue;
}

.msg_received {
    background-color: white;
    width: 300px;
    padding: 0.6rem;
    border-radius: 10px;
    align-self: flex-start;
}
.msg_sent {
    background-color: rgb(216, 247, 182);
    width: 300px;
    padding: 0.6rem;
    border-radius: 10px;
    align-self: flex-end;
}
.active_chat {
    background-color: #96d2ee;
}
.msg_time {
    font-size: 0.7rem;
    color: gray;
    align-self: flex-end;
}
.no_match {
    color: gray;
    text-align: center;
    padding: 3rem;
}
.input_field {
    position: absolute;
    top: 4rem;
    right: 2rem;
    width: 300px;
    height: 100px;
    background-color: rgb(240, 236, 231);
    border-radius: 10px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center ;
    box-shadow: 3px 3px 5px gray;
}
.slide-fade-enter-active {
    transition: all 0.3s ease-out;
  }
  .slide-fade-enter-from,
  .slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
  }
  .start_chat {
    text-align: center;
    margin: 0 auto;
    color: black;
    background-color: white;
    padding: 0.5rem;
    width: 200px;
    border-radius: 20px;
  }

  .list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
