<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>   
    <link rel="stylesheet" href="css/style.css"> 
    <title></title>
</head>
<body>
    <div id="app">
        <div class="wrapper" :class="{'wrapper_dark' : this.dark ===true}">
            <div class="container-sm">
                <div class="row pt-4">

                    <!-- PARTE SINISTRA  -->
                    <div class="col-12 col-sm-12 col-md-5 d-md-block contact_section p-0" :class="{'d-none' : showChat, 'd-sm-none' : showChat}">
                        <header class="contact_header d-flex justify-content-between p-1 position-relative" :class="{'contact_header_dark' : this.dark === true}">
                            <div class="header_info d-flex align-items-center gap-1">
                                <img class="proPic" :src="imgPath+user.avatar+imgExt" alt="user_avatar">
                                <h2 class="user_name" :class="{'text-white' : this.dark=== true}">{{ user.name }}</h2>
                            </div>
                            <div class="header_icons d-flex align-items-center gap-3 p-3">
                                <span @click="toggleTheme"><i class="fa-solid fa-moon"></i></span>
                                <span><i class="fa-solid fa-circle-notch"></i></span>
                                <span @click="toggleInput"><i class="fa-solid fa-message"></i></span>
                                <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
                            </div>
                            <Transition name="slide-fade">
                                <div class="input_field" v-show="inputReveal" :class="{'input_field_dark' : this.dark===true}">
                                    <input class="rounded-1 w-75" type="text" placeholder="Inizia Nuova Chat" v-model="newContact" @keyup.enter="addNewChat()">
                                </div>
                            </Transition>

                        </header>
                        <div class="notifiche_desktop p-2" :class="{'notifiche_desktop_dark' : this.dark === true}">
                            <div class="bell_img me-3" :class="{'bell_img_dark' : this.dark===true}">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div>
                                <p class="mb-0">Ricevi notifiche di nuovi messaggi</p>
                                <span>Attiva notifiche desktop</span>
                            </div>
                        </div>
                        <div class="input-group input-group-sm input_container" :class="{'input_container_dark' : this.dark===true}">
                            <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" class="form-control" placeholder="Cerca chat" v-model.trim="searchBarContent">
                        </div>
                        <main class="contacts_section" :class="{'contact_section_dark' : this.dark===true}">
                            <ul v-if="filteredContacts.length > 0">
                                <li @click="setChat(item.id)" :class="{'text-white' : this.dark===true,'active_chat' : item.id === activeID, 'contact_item_dark' : this.dark === true, 'active_chat_dark' : item.id === activeID && this.dark === true}" class="contact_item border-bottom p-2" v-for="(item, index) in filteredContacts" :key="item.id">
                                    <div class="contact_info d-flex align-items-center gap-1">
                                        <img class="proPic" :src="imgPath+item.avatar+imgExt" alt="user_avatar">
                                        <div class="name_plus_time ps-2">
                                            <h2 class="user_name mb-0">{{ item.name }}</h2>
                                            <span class="last_message">{{getLastMsg(item)}}</span>
                                        </div>
                                        <p v-if="item.messages.length > 0" class="ms-auto last_access">{{getLastDate(item)}}</p>
                                    </div>
                                </li>
                            </ul>
                            <div v-else class="no_match">Nessuna Corrispondenza</div>
                        </main>
                    </div>

                    <!-- PARTE DESTRA  -->
                    <div class="col-12 col-sm-12 col-md-7 d-md-block chat_section p-0" :class="{'d-none' : !showChat, 'd-sm-none' : !showChat, 'chat_section_dark' : this.dark === true}">
                        <header class="chat_header d-flex justify-content-between p-1" :class="{'chat_header_dark' : this.dark===true}">
                            <div class="header_info d-flex align-items-center gap-1">
                                <img class="proPic" :src="imgPath+contacts[activeIndex].avatar+imgExt" alt="user_avatar">
                                <div class="name_plus_time">
                                    <h2 class="user_name mb-0":class="{'text-white' : this.dark=== true}">{{ contacts[activeIndex].name }}</h2>
                                    <span class="last_access">Ultimo accesso: {{getLastDate(contacts[activeIndex])}}</span>
                                </div>
                            </div>
                            <div class="header_icons d-flex align-items-center gap-3 p-3 position-relative">
                                <span class="d-md-none" @click="backToChat"><i class="fa-solid fa-arrow-left"></i></span>
                                <span><i class="fa-solid fa-magnifying-glass"></i></span>
                                <span><i class="fa-solid fa-paperclip"></i></span>
                                <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
                            </div>
                        </header>
                        <main class="chat_main_section">
                                <div v-if="contacts[activeIndex].messages.length > 0" class="my-3 d-flex flex-column position-relative" :class="{'msg_received' : value.status === 'received', 'msg_sent': value.status === 'sent', 'msg_sent_dark' : this.dark ===true && value.status === 'sent'}" v-for="(value, index) in contacts[activeIndex].messages" :key="index" ref="msg">
                                    <div class="d-flex justify-content-between chat_msg">
                                        <p class="mb-0">{{value.message}}</p>
                                        <span class="my_chev" @click="toggleDropDown(index)"><i class="fa-solid fa-chevron-down"></i></span>
                                    </div>
                                    <span class="msg_time">{{value.date}}</span>
                                    <Transition name="slide-fade">
                                        <div class="drop_down" :class="{'drop_down_dark' : this.dark === true}" v-show="dropDownReveal.index === index && dropDownReveal.show === true">
                                            <p class="mb-0" @click="removeMsg(index)">Elimina messaggio</p>
                                        </div>
                                    </Transition>
                                    
                                </div>
                                <div v-else class="start_chat">Inizia Nuova Chat</div>
                        </main>
                        <footer class="chat_footer" :class="{'chat_footer_dark' : this.dark===true}">
                            <span><i class="fa-regular fa-face-smile"></i></span>
                            <input type="text" placeholder="Scrivi un messaggio" v-model.trim="newMessage" @keyup.enter="sendAMessage()">
                            <Transition name="slide-fade"><span class="send_msg_icon" @click="sendAMessage()" v-show="newMessage.length > 0"><i class="fa-solid fa-paper-plane"></i></span></Transition>
                            <span><i class="fa-solid fa-microphone"></i></span>
                        </footer>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

  
    
    <script src="js/script.js"></script>
</body>
</html>